<%- include('../../layouts/header.ejs') %>
    <%- include('../../layouts/navigation.ejs') %>

        <div class="container mt-4">
            <div class="row">
                <div class="col-sm-3">
                    <%- include('../../layouts/sidebar.ejs') %>
                </div>
                <div class="col-sm-9">
                    <h4>Roles

                        <a href="/admin/role/create" style="float: right;"><button type="button" class="btn btn-primary">Add Role</button></a>
                    </h4>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Status</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let role of roles) { %>
                            <tr>
                                <th scope="row"><%- role.id %></th>
                                <td><%- role.name%></td>
                                <td><%- role.status === true ? 'active' : 'inactive' %></td>
                                <td>
                                    <a href='/admin/role/edit/<%- role.id%>'  class="btn btn-outline-primary">Edit</a>
                                    <a href='/admin/role/delete/<%- role.id%>' class="btn btn-outline-danger" >Delete</a>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <%- include('../../layouts/footer.ejs') %>